/* -----------------------------------------
  Navbar/Breadcrumb Setting
----------------------------------------- */
.ace-nav > li {
  height: 44px;
}

.ace-nav > li > a {
  line-height: 44px;
  font-weight: bold;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  text-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  font-weight: bold;
}
 
.navbar-menu-text-size {
  font-size: 16px;
}

@media only screen and (min-width: 992px) {
  .navbar-container {
   padding: 2px;  
  }
}

.breadcrumb {
  background-color: transparent;
  display: inline-block;
  line-height: 20px;
  margin: 6px 22px 0 12px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 0;
}  /* change font-size and font-weight */


/* -----------------------------------------
   Common style items
----------------------------------------- */
svg{
  width: 100% !important
}   /* for redraw morris chart */

.edit-bar {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

#elink-info { 
  font-size: 15px;
  font-family: 'LiHei Pro', '新細明體', sans-serif;
}

.font-white {
  color: #FFF;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.white {
  color: white;
}

.bkgd-green {
  background: #6B8E23;
}

.bkgd-grey {
  background: #807070;
}

.bkgd-lightgray {
  background: #778899;
}

.bkgd-brown {
  background: #8B4513;
}

.bkgd-darkorange {
  background-color: #b38600;
}

.bkgd-purple {
  background: #663399;
}

.edit-blue {
  color: #478FCA;
}

.color-red {
  color: #FF2E41;
}

.color-brown {
  color: #997744;
}

.widget-color-brown > .widget-header {
  border-color: #7E5C35;
  background: #7E5C35;
}

.widget-color-brown {
  border-color: #7E5C35;
}

.table-header {
  font-weight: bolder;
  font-size: 15px;
  color: #FFF;
  line-height: 38px;
  padding-left: 12px;
  margin-bottom: 1px;
}  /* change font-weight and font-size */

.btn-blue3, .btn-blue3:focus {
  background-color: #6379aa !important;
  border-color: #6379aa;
}   /* repeat discharge btn */


/* -----------------------------------------
  All table setting
----------------------------------------- */
table[id$="table"] > tbody > tr > td {
  text-align: center;
  font-size: 15px;
}

div[id$="table_wrapper"] .row:first-child {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding-top: 6px;
  padding-bottom: 2px;
}

div[id$="table_wrapper"] .row:last-child {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 6px;
}

table[id$="table"] > thead > tr > th {
  text-align: center;
  font-size: 15px;
}

table[id$="table"] > thead > tr > th:last-child {
  border-right-color: #dddddd;
}

div[id$="table_paginate"], div[id$="table_filter"] {
  margin-right: -5px;
}

.dataTables_wrapper label {
  font-size: 14px;
}


/* -----------------------------------------
  Discharge page
----------------------------------------- */
#start-discharge-btn,
#stop-discharge-btn {
  float: right;
  margin-top: 4px;
  margin-right: 6px;
}

#need-discharge-table_filter,
#discharge-ing-table_filter {
  float: left;
}


/* -----------------------------------------
  Log page & Report pages
----------------------------------------- */
.bkgd-table-blue {
  background-color: #EFF3F8;
}

#alarm-log-table,
#system-log-table,
#system-report-table,
#normal-report-table,
#solved-report-table,
#alarm-report-table,
#replacement-report-table,
#capacity-report-table,
#repaired-report-table {
  margin-bottom: 15px;
} 

#alarm-log-table_wrapper,
#system-log-table_wrapper,
#system-report-table_wrapper,
#normal-report-table_wrapper,
#solved-report-table_wrapper,
#alarm-report-table_wrapper,
#replacement-report-table_wrapper,
#capacity-report-table_wrapper,
#repaired-report-table_wrapper {
  border: 1px solid #e0e0e0;
}

#alarm-log-table_length,
#system-log-table_length,
#system-report-table_length,
#normal-report-table_length,
#solved-report-table_length,
#alarm-report-table_length,
#replacement-report-table_length,
#capacity-report-table_length,
#repaired-report-table_length {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: -30px;
}

#alarm-log-table_info,
#system-log-table_info,
#system-report-table_info,
#normal-report-table_info,
#solved-report-table_info,
#alarm-report-table_info,
#replacement-report-table_info,
#capacity-report-table_info,
#repaired-report-table_info {
  padding-left: 10px;
  margin-bottom: -25px;
}

#alarm-log-table_paginate,
#system-log-table_paginate,
#system-report-table_paginate,
#normal-report-table_paginate,
#solved-report-table_paginate,
#alarm-report-table_paginate,
#replacement-report-table_paginate,
#capacity-report-table_paginate,
#repaired-report-table_paginate {
  padding-bottom: 10px;
  margin-right: 0px;
}

#alarm-log-table_filter,
#system-log-table_filter,
#system-report-table_filter,
#normal-report-table_filter,
#solved-report-table_filter,
#alarm-report-table_filter,
#replacement-report-table_filter,
#capacity-report-table_filter,
#repaired-report-table_filter {
  margin-top: 0px;
}

.DTTT_container {
  padding-right: 10px;
}


/* -----------------------------------------
  Index page
----------------------------------------- */
.legendLabel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 22px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bolder;
}      /* change the pie chart label size */

#stable-station-list, #charge-station-list, #discharge-station-list, #supply-station-list, #alarm-distribution-list,
#todo-discharge-list, #connection-error-list, #alarm-ing-list, #alarm-solved-list {
  display: none;
}      /* hide these tables in the beginning*/

.customized-h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}


/* -----------------------------------------
  Sidebar
----------------------------------------- */
.sidebar > #nav-search {
  height: 41px;
}


/* -----------------------------------------
  Cell Management page
----------------------------------------- */
#filter-label {
  margin-top: -5px;
}

#stable-status-list, #charge-status-list, #discharge-status-list, #supply-status-list, #error-status-list, #stable-error-list {
  display: none;
}
/* -----------------------------------------
  Discharge Setting form
----------------------------------------- */
.discharge-setting-form {
  padding-top: 5px;
}


/* -----------------------------------------
  Module page
----------------------------------------- */
#switch-module-box {
  margin-top: 3px;
}


/* -----------------------------------------
  Discharge Report Page
----------------------------------------- */
#finish-discharge-table_info {
  font-size: 13.5px;
}

#row-time,
#row1-voltage,
#row2-voltage,
#row3-voltage {
  font-size: 16px;
}